<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <global>
        <version>3.6.5</version>
        <windowPosition>2609,253,1621,1051</windowPosition>
        <viewState/>
        <disAnimateZoom/>
        <autoWaitTrig/>
        <LogicProbe>0</LogicProbe>
        <smpProgPosition/>
        <colorWaveform>1</colorWaveform>
        <userLang>zh-CN</userLang>
        <devModel>8</devModel>
        <extparam/>
        <windowMaximized>0</windowMaximized>
        <anlyDbgPath/>
        <enaSocket/>
        <listenPort/>
        <oscCursorEna/>
        <lgcMeasure>1,1,1,1</lgcMeasure>
        <toolbarPWM/>
        <chnShowIndex>0,1,2,15,3,5,6,7,8,9,10,11,12,4,13,14</chnShowIndex>
        <chnShowMultip>1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1</chnShowMultip>
        <chnShowName0/>
        <chnShowName1/>
        <chnShowName2/>
        <chnShowName3/>
        <chnShowName4/>
        <chnShowName5/>
        <chnShowName6/>
        <chnShowName7/>
        <chnShowName8/>
        <chnShowName9/>
        <chnShowName10/>
        <chnShowName11/>
        <chnShowName12/>
        <chnShowName13/>
        <chnShowName14/>
        <chnShowName15/>
        <analyzerAlias>;</analyzerAlias>
        <recentAnalyzers>CAN.dll,UART.dll,I2C.dll,SPI.dll</recentAnalyzers>
        <disAutoUpdate/>
        <lastUpdate>2026-02-11_09:31:03</lastUpdate>
        <zeroSmpCnt/>
        <lastPath>C:/Users/renlh/Desktop</lastPath>
        <glitchFilterMode/>
        <hideChnBoundary/>
        <decZoomMode/>
        <decZoomRatio/>
    </global>
    <devices>
        <Demo>
            <trgPosition/>
            <chnTrig/>
            <chnEnable/>
            <smpMode/>
            <smpDepth/>
            <smpDepthIndex/>
            <smpFrequ/>
            <smpFrequIndex/>
            <chnLevel/>
        </Demo>
        <LA2016>
            <trgPosition/>
            <chnTrig/>
            <chnEnable/>
            <smpMode/>
            <smpDepth>5000000</smpDepth>
            <smpDepthIndex>13</smpDepthIndex>
            <smpFrequ/>
            <smpFrequIndex/>
            <chnLevel>3.3V CMOS</chnLevel>
            <chnVth>1.65</chnVth>
        </LA2016>
        <LA5016>
            <trgPosition>5</trgPosition>
            <chnTrig>0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</chnTrig>
            <chnEnable>1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0</chnEnable>
            <smpMode/>
            <smpDepth>10000</smpDepth>
            <smpDepthIndex>5</smpDepthIndex>
            <smpFrequ>100000</smpFrequ>
            <smpFrequIndex>2</smpFrequIndex>
            <chnLevel>3.3V CMOS</chnLevel>
            <chnVth>1.65</chnVth>
        </LA5016>
    </devices>
    <analyzers>
        <item0>
            <fileName>SPI.dll</fileName>
            <parameters>SpiAnalyzer,1,0,3,0,0,0,2,0,0,16,0,0,0,1,</parameters>
            <format>2</format>
        </item0>
    </analyzers>
</settings>
